
body {
  padding-top: 54px;
  background-color: #EFEFEF;
}
.bg-dark {
  background-color: #FFF !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #01A029;
}

.add-course{
  width: 106%;
}

.style-border{
  border: none !important;
}
.style-card{
  border-radius: 0 !important;
  background-color: rgba(17, 17, 17, 0.4);
}

.card-title>a{
  color:#212529;

}
.style-card-body{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.pull-left{
  margin-bottom: 1rem;
  margin-top: 0.7rem;
  font-size: 14px;
  color: darkgray;  
}
@media (min-width: 991px){
  .carousel-caption {
    position: absolute !important;
    bottom: -14px !important;
    z-index: 10 !important;
    right: 60% !important;
    left: 0% !important;
    color: #fff !important;
    padding: 112px !important;
    text-align: left !important;
  }
  .style-social-icons {
    text-align: right;
  }
  .contact-social{
    padding-left: 615px;
    margin-top: 10px;
  }

  .contact {
    margin-left: -40px;
    margin-right: 37px;
  }
  .style-close {
    margin-left: 455px;
    margin-top: -342px;
    margin-bottom: 191px;
  }
  .style-hr{
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 5vh;
    /*width: 16%;*/
    
    margin-left: 40px;
    margin-right: 40px;
  }
 
  
}
.button.close{
  margin-left: 455px;
  margin-top: -342px;
  margin-bottom: 191px;
}
@media (max-width: 990px){
   .style-social-icons {
    margin-top: 20px;
  }
  .footer-style{
    margin-left: 6px; 
  }
  .add-course {
    width: 100% !important;
  }
  .contact{
    margin-left: -33px;
  }
  .row{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .style-hr{
    display: none;
  }
}

@media (min-width: 992px) {
  body {
      padding-top: 56px;
  }
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 44px;
  text-align: center;
  text-decoration: none;
  margin: 7px 3px 4px -7px;
  border-radius: 90%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #9A9A9A;
  color: white;
}
.fa-twitter {
  background: #9A9A9A;
  color: white;
}

.fa-linkedin {
  background: #9A9A9A;
  color: white;
}

.title-social-icons{
  font-size: 15px;
  padding-right: 42px;
}

ul.list li {
  font-size: 13px;
  list-style-type: none;
}

.navbar-toggler-icon{
  background-color: #000;
}

.modal-content>img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.modal-content {
  border-radius: 15px;
}
.style-button{
  padding: .5rem 4rem !important;
  font-size: 1rem !important;
  line-height: 1.20 !important;
  border-radius: 1.25rem !important;
  background-color: #01A029;
}

.pesquisa{
  /*margin-right: 73px;*/
  margin-top: 12px;
}



.stylish-input-group .input-group-addon{
  background: white !important;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;  
}
.stylish-input-group button{
  border:0;
  background:transparent;
  
}

.stylish-input-group button img{
  margin: -12px -61px -10px -48px;
  width: 204%;
}


.button-slider{
  color: #fff !important;
  background-color: transparent !important;
  border-color: #FFFFFF !important;
}


.style-student-account {
  margin-top: 20px;
}